.product-lightroom {
    padding: 32px;
    background: radial-gradient(closest-side, #777, transparent);
    background-color: #444;
    background-repeat: no-repeat;
    background-position-y: 0;
    color: #222;
}

.product-lightroom__col,
.product-lightroom__row {
    padding: 16px 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.product-lightroom__row {
    flex-direction: row;
}

.product-lightroom__col {
    flex-direction: column;
}

.product-lightroom__title {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}
