.product-azaza {
    padding: 32px;
    background: radial-gradient(circle farthest-side, #777, #555);
    color: #222;
}

.product-azaza__col,
.product-azaza__row {
    padding: 16px 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.product-azaza__row {
    flex-direction: row;
}

.product-azaza__col {
    flex-direction: column;
}

.product-azaza__title {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}
