.product-related-catalog {
    padding: 32px;
    background: linear-gradient(#00553580, #55003f80), linear-gradient(#55003f30, #5730b230, #8531b730, #da620030, #af390030);
    background-attachment: scroll, fixed;
    color: #ccc;
    background-color: #680225;
    box-shadow: inset 0 128px 64px -64px #ff00ff0f;
    transition: background-color 5s;
    position: relative;
}

.product-related-catalog__first-header {
    color: #ffffff2b;
    mix-blend-mode: color-dodge;
}

.product-related-catalog__content {
    position: relative;
}

.product-related-catalog__col,
.product-related-catalog__row {
    padding: 16px 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.product-related-catalog__row {
    flex-direction: row;
}

.product-related-catalog__col {
    flex-direction: column;
}

.product-related-catalog__row.product-related-catalog__row--unpad {
    margin: 0 -32px;
}

.product-related-catalog__title {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}


/* phasing */


@keyframes text-neon-ripple {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.75;
    }
    to {
        opacity: 1;
    }
}

@keyframes text-neon-ripple-off {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}


@keyframes text-neon-switch-fade-to-normal {
    from {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }
    to {
        color: #cccccc;
        text-shadow: 0 0 0px transparent, 0 0 0px transparent;
    }

}

@keyframes text-neon-switch-on-1 {
    0% {
        color: #ffffff2b;
        text-shadow: none;
    }

    69% {
        color: #ffffff2b;
        text-shadow: none;
    }

    70% {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }

    80% {
        color: #ffffff2b;
        text-shadow: none;
    }

    99% {
        color: #ffffff2b;
        text-shadow: none;
    }

    to {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }
}
@keyframes text-neon-switch-on-2 {
    0% {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }
    10% {
        color: #ffffff2b;
        text-shadow: none;
    }

    29% {
        color: #ffffff2b;
        text-shadow: none;
    }

    30% {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }

    40% {
        color: #ffffff2b;
        text-shadow: none;
    }

    69% {
        color: #ffffff2b;
        text-shadow: none;
    }

    70% {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }

    80% {
        color: #ffffff2b;
        text-shadow: none;
    }

    99% {
        color: #ffffff2b;
        text-shadow: none;
    }

    to {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }
}
@keyframes text-neon-switch-on-3 {
    0% {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }
    10% {
        color: #ffffff2b;
        text-shadow: none;
    }

    29% {
        color: #ffffff2b;
        text-shadow: none;
    }

    30% {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }

    40% {
        color: #ffffff2b;
        text-shadow: none;
    }

    99% {
        color: #ffffff2b;
        text-shadow: none;
    }

    to {
        color: #cccccc;
        text-shadow: 0 0 36px #fff, 0 0 12px #fff;
    }
}



.product-related-catalog__first-header.--dephased .word.word--1,
.product-related-catalog__first-header.--dephased .word.word--2,
.product-related-catalog__first-header.--dephased .word.word--3 {
    color: #ffffff2b;
    text-shadow: none;
    animation-name: none;
}

.product-related-catalog__first-header .word.word--1,
.product-related-catalog__first-header .word.word--2,
.product-related-catalog__first-header .word.word--3 {
    /* color: #cccccc;
    text-shadow: 0 0 12px; */
    animation-composition: replace, add, replace, replace;
    animation-duration: 0.05s, 3s, 0.5s, 10s;
    animation-delay: 1.0s, 1.0s, 0.5s, 1.0s;
    animation-fill-mode: forwards, forwards, forwards, forwards;
    animation-iteration-count: infinite, 1, 1, 1;
    
}
.product-related-catalog__first-header .word.word--1 {
    animation-name: text-neon-ripple, text-neon-ripple-off, text-neon-switch-on-1, text-neon-switch-fade-to-normal;
}
.product-related-catalog__first-header .word.word--2 {
    animation-name: text-neon-ripple, text-neon-ripple-off, text-neon-switch-on-2, text-neon-switch-fade-to-normal;
}
.product-related-catalog__first-header .word.word--3 {
    animation-name: text-neon-ripple, text-neon-ripple-off, text-neon-switch-on-3, text-neon-switch-fade-to-normal;
}